  <footer>
              <div class="content bg-dark block-footer-1 padding-top-110 padding-bot-150">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 text-center">
                              <img class="img-responsive scroll-animated-from-bottom" src="images/solar-enterprises/solar-enterprises-retina-x2.png" alt="logo">
                              <h5 class="scroll-animated-from-bottom">© 2024. {{ i18n.__("All Rights Reserved") }}</h5> 
                          </div>
                      </div>
                  </div>
                  <div class="scroll-top">
                      <div class="scroll-top-inner scroll-animated-from-bottom">
                          <span class="ti-arrow-up"></span>
                      </div>
                  </div>
                  <div class="dzsparallaxer auto-init do-not-set-js-height" data-options="{  mode_scroll: 'normal', animation_duration: '0' , direction: 'reverse' }">
                      <div class="divimage dzsparallaxer--target"></div>
                      <div class="bg-overlay-section"></div>
                  </div>
              </div>
          </footer>