  <head>


      <!-- CHARSET -->
      <meta charset="utf-8">
      
      <!-- META -->
      <meta name="robots" content="noodp" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <meta name="Keywords" content="solar">
      <meta name="description" content="Solar Enterprises">
      
      
      <!-- PAGE TITLE -->
      <title> Solar Enterprises</title>
      
      
      <!-- FAVICON -->
      <link rel="shortcut icon" href="./images/icons/favicon.ico">
      
      
      <!-- GOOGLE FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans:200,300,400,500,600,700,800" rel="stylesheet">
      
      
      <!-- STYLESHEETS CORE -->
      <link rel="stylesheet" type="text/css" href="./css/plugins.css">
      
      
      <!-- STYLESHEETS TEMPLATE -->
      <link rel="stylesheet" type="text/css" href="./css/layout.css">
      <link rel="stylesheet" type="text/css" href="./css/hero.css">
      <link rel="stylesheet" type="text/css" href="./css/blocks.css">
      <link rel="stylesheet" type="text/css" href="./css/custom.css">
      
      
      <!-- STYLESHEET TEMPLATE COLOR -->
      <link rel="stylesheet" type="text/css" href="./css/color/default.css">
      
            
  </head>
  