  <!-- TEAM SLIDER -->
                          <div class="slider-team cbp cbp-slider-edge pagination-top pagination-custom-1">
                              <div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/nayiem.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Nayiem W.</h5>
                                                  <p class="hover-animated">Chief Executive Officer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/michiel.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Michiel S.</h5>
                                                  <p class="hover-animated">Chief Operating Officer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/armand.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Armand H.</h5>
                                                  <p class="hover-animated">Sr.Project Lead</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/jing.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Jing Z.</h5>
                                                  <p class="hover-animated">Chief Technology Officer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/kang.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Kang Jui R.</h5>
                                                  <p class="hover-animated">Full-Stack Developer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/farhan.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Farhan Y.</h5>
                                                  <p class="hover-animated">Full-Stack Developer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/bruce.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Bruce H.</h5>
                                                  <p class="hover-animated">Full-Stack Developer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/taras.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Taras O.</h5>
                                                  <p class="hover-animated">Lead UI/UX designer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="cbp-item">
                                  <div class="cbp-caption">    
                                      <div class="cbp-caption-defaultWrap bg-dark">
                                          <img src="images/team-members/iryna.png" alt="showcase" />
                                      </div>
                                      <div class="cbp-caption-activeWrap">
                                          <div class="cbp-l-caption-alignCenter">
                                              <div class="cbp-l-caption-body">
                                                  <h5 class="hover-animated">Iryna K.</h5>
                                                  <p class="hover-animated">UI/UX Designer</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- /TEAM SLIDER -->